:root {
 --mainColor: #86ff2e;
 --mainLightColor: #E5FFD2;
 /* --mainDarkColor: #1E3256; */
 --mainDarkColor: #2B349e;
 --mainDarkColorII: #3a1e58;
 --mainGradient: linear-gradient(91.51deg, #85E38E -5.56%, #60BCC9 103.73%);
 --secondaryGradient: linear-gradient(91.51deg, #85E38E -5.56%, #8977D4 36.52%, #60BCC9 103.73%);
 --grey: #AAAAAA;
  --mainFont: 'Everett', Helvetica, serif;
  --smooth: all 0.45s cubic-bezier(0.4, 0, 0, 1);
  /* --secondaryFont: 'GT Super Display', Georgia, serif;  */

  --border-radius: 8px;
}

@font-face {
    font-family: 'Everett';
    src: url('fonts/Everett-Light.eot');
    src: url('fonts/Everett-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Everett-Light.woff2') format('woff2'),
        url('fonts/Everett-Light.woff') format('woff');
    font-weight: 300;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('fonts/Everett-Regular.eot');
    src: url('fonts/Everett-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Everett-Regular.woff2') format('woff2'),
        url('fonts/Everett-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
  font-family: var(--mainFont);
}

.gradients-container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 33.01%, #FFFFFF 99.74%);
  height: 30%;
}

/* ADD TO MP.CSS later */

.smooth-t {
  transition: var(--smooth);
}

/* Cheatsheet Güeno */

img.icon {
  width: 80px !important;
  height: auto !important;
}

.gueno-br {
  border-radius: var(--border-radius);
}

/* Colors */

.main-font {
  font-family: var(--mainFont);
}


.bg-main-color {
  background-color: var(--mainColor);
}

.main-color {
  color: var(--mainColor);
}

.bg-main-gradient {
  background: var(--mainGradient);
}

.bg-secondary-gradient {
  background: var(--secondaryGradient)
}

.bg-main-dark-color {
  background-color: var(--mainDarkColor);
}

.main-dark-color {
 color: var(--mainDarkColor);
}


.grey {
  color: var(--grey)
}
.bg-grey {
  background-color: var(--grey)
}

/* Font Sizes */

.f0 {
  font-size: 7.5vw;
  letter-spacing: -2px;
  line-height: 90%;
}

/* Buttons */

.main-cta {
  padding: 10px 35px;
  border-radius: 100px;
  display: inline-flex;
  transition: var(--smooth)
}

.main-cta > * {
  transition: var(--smooth)
}


.header-nav li.main-cta { 
  padding-bottom: 10px !important;
}

.header-nav li.main-cta a {
  color: #fff;
  padding-bottom: 0;
}

.header-nav li.main-cta a:after {
  content: unset;
}

.header-nav li.main-cta:hover a {
  color: var(--mainDarkColor)
}

.main-cta.has-gradient {
  background: linear-gradient(91.51deg, #85E38E -5.56%, #60BCC9 103.73%);
  color: #fff !important;
}

.main-cta.has-gradient > *, .main-cta.bg-main-color > * {
  color: #fff;
}

.main-cta.bg-main-color > *, .main-cta.bg-main-color {
  color: #000 !important;
}


.main-cta.bg-main-color:hover {
  background-color: var(--mainDarkColorII) !important;
  color: var(--mainColor) !important;
}

.main-cta.bg-main-color:hover > *  {
  color: var(--mainColor) !important;
}


.main-cta > * {
  margin: auto;
}


/* Animations */

.main-cta:hover {
  padding: 10px 43px;
}

.main-cta.has-gradient:hover {
  background: linear-gradient(91.22deg, #85E38E 20.83%, #22A3BF 114.86%);
}

.main-cta.has-gradient:hover > *{
  color: #1E3256
}

/* Generals */

.footer-inner {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.footer-inner > div:not(:last-child), .footer-inner > ul:not(:last-child) {
  flex: 1 1 0px;
  border-right: 1px solid #000;
}

.footer-inner .nav ul, .footer-inner ul.nav  {
  list-style-type: none;
}

.footer-inner .nav ul li:not(:first-child),  .footer-inner  ul.nav li:not(:first-child) {
  border-top: 1px solid #000;

}

.footer-inner .nav ul li, .footer-inner  ul.nav li {
  padding: 30px 5px;
  display: flex;
  width: 100%;;
}

.footer-inner .nav ul li a, .footer-inner  ul.nav li a {
  font-size: 30px;
  display: inline-flex;
  margin: auto;
  text-decoration: none;
  color: #000;
  transition: var(--smooth);

}


.footer-inner .nav ul li a:hover, .footer-inner  ul.nav li a:hover {
  color: var(--mainColor);
}


.footer-social li {
  padding: 10px 0px;
  display: flex;
  height: 100%;
  width: 100%;
}

.footer-social li a {
  margin: auto;
  text-decoration: none;
  color: black
}

.footer-social li:not(:first-child) {
  border-top: 1px solid #000;
}

/* HOME Desktop */

.map-content img {
  mix-blend-mode: multiply;
}

.map-texture-1 {
  left: -3%;
  top: -20%;
  z-index: -1;
  transform: scale(0.8)
}


.map-texture-2 {
  right: -3%;
  bottom: -20%;
  z-index: -1;
 
  transform: scale(-0.8, -0.8) rotate(180deg);
  -moz-transform: scale(-0.8, -0.8) rotate(180deg);
  -o-transform: scale(-0.8, -0.8) rotate(180deg);
  -webkit-transform: scale(-0.8, -0.8) rotate(180deg);
}

.cards-container {
  margin-bottom: -250px;
}

.card {
  perspective: 900px;
  transition: var(--smooth);
  background-color: transparent;
}

.card:nth-child(2) .card-inner-bg{
  background-color: #94DA9B;
}

.card:nth-child(3) .card-inner-bg {
  background-color: #B4E5B9;
}


.card-inner-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) translateZ(-5px);
    box-shadow: 0 -15px 32px rgb(0 0 0 / 25%);
    transition: .3s ease;
    padding-bottom: 100px;
    box-shadow: 0 -15px 32px rgb(0 0 0 / 25%);
}

.card-content {
  position: relative;
  z-index: 5;
  transform: rotateX(-10deg) translateZ(-5px);
  transition: .4s ease;
  padding-bottom: 150px;
}

.card-content p, .card-content a {
  opacity: 0;
  transition: var(--smooth)
}

.card:not(:first-child) {
  margin-top: -250px;
}

.card:hover {
  perspective: 2000px;
  transform: translateY(-180px) rotateX(0);
}

.card:hover .card-content p, .card:hover .card-content a {
  opacity: 1;
  transition-delay: .2s !important;
  color: #fff !important
}

.card:hover .card-content h1 {
  color:var(--mainColor);
  /* transition: var(--smooth);
  transition-delay: .3s !important; */
}

.card:hover .card-inner-bg {
  background-color: var(--mainDarkColor) !important;
}

.card-bg-img {
  left: unset;
  right: 0;
  overflow: hidden;
}

.card-bg-img svg {
  width: 70%;
  transform: translate(50%, 20%);
  opacity: .5;
}

.card-bg-img svg path {
  /* fill: var(--mainDarkColorII); */
  stroke: var(--mainDarkColorII);
  transition: var(--smooth)
}  

.card:hover svg path {
  stroke: var(--mainLightColor) !important  ;
}


.mp-item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* filter: blur(12px);
  -webkit-filter: blur(12px); */
  backdrop-filter: blur(8px); 
  border-radius: 8px;
  flex: 1 1 0px;
  background-color: #fff;
}

.mp-item:hover {
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.35);
  transform: scale(1.02)
}



.mp-items-bg > *{
  /* transform: translateX(50%); */
  width: 60%;
  margin: auto;
}


.mp-banner-cta .absolute-cover {
  opacity: 0;
  transform: scale(0.98);
}


.mp-banner-cta:hover {
  background: var(--mainGradient);
}

.mp-banner-cta:hover div.main-cta {
  padding: 10px 43px;
}


.mp-banner-cta:hover .absolute-cover {
  opacity: 1;
  transform: scale(1);
}


.mp-banner-cta * {
  transition: var(--smooth);
}

.mp-banner-cta:hover * {
  color: var(--mainDarkColor)
}


.mp-banner-cta:hover .bg-main-gradient {
  opacity: 1;
}

/* Set animations for home desktop */

@media (min-width: 600px) {
  .home-starter > * {
    opacity: 0;
  }

  .will-animate {
    opacity: 0;
    transform: translateY(50px);
    transition: var(--smooth)
  }

  .will-animate.in-view {
    opacity: 1;
    transform: translateY(0px);
  }
}

.ti-cursor {
  /* color: #fff; */
  font-weight: 300 !important;
}




/* Reusable Blocks */

.logos-container img {
  width: 130px !important;
  height: auto !important;
  margin: auto;
}


/* Start Mobile */


@media (max-width: 768px) {

  .desktop, .map-texture-1, .map-texture-2 {
    display: none;
  }

.map-content {
  flex-direction: column-reverse;
  display: flex;
}


.map-content >div:first-child {
  position: initial;
  transform: scale(0.85) translateY(-80%) !important;
  margin-bottom: -100px;
}

.map-content img {
  max-width: 100% !important;
}

.card-content >div:first-child {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.card-content >div:first-child h2{
  margin-bottom: 10px;
}

.card:not(:first-child) {
  margin-top: -380px;
}

.mp-item {
  margin-bottom: 30px;
}

.mp-items-bg {
  top: -13%;
}

.mp-items-bg > * {
  width: 100%;
}

.mp-text-image > div:first-child {
  padding: 20px;
}

.mp-data-numbers > div {
  margin-bottom: 35px
}

.mp-data-numbers > div h1{
  font-size: 75px
}

/* Footer Mobile */

.footer-inner > div:not(:last-child), .footer-inner > ul:not(:last-child) {
  border-right: 0px;;
}


}
