:root {
 --mainColor: #66DA62;
 --mainLightColor: "";
 /* --mainDarkColor: #1E3256; */
 --mainDarkColor: #2B349e;
 --mainDarkColorII: #3a1e58;
 --mainGradient: linear-gradient(91.51deg, #85E38E -5.56%, #60BCC9 103.73%);
 --secondaryGradient: linear-gradient(92.74deg, #66CA70 -3.3%, #E8E0D0 109.49%);
 --grey: #AAAAAA;
  --mainFont: 'Everett', Helvetica, serif;
  --smooth: all 0.45s cubic-bezier(0.4, 0, 0, 1);
  --border-radius: 8px;

  /* For @CS Dark */
/* --background: #212121; */
/* For @CS Light */

}



body {
  background-color: var(--background);
}


.has-after, .header-nav a, .footer-nav-inner a, .details-header > p, .side-menu a, .sub-categories-list a {
  text-transform: capitalize;
}

@font-face {
    font-family: 'Everett';
    src: url('fonts/Everett-Light.eot');
    src: url('fonts/Everett-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Everett-Light.woff2') format('woff2'),
        url('fonts/Everett-Light.woff') format('woff');
    font-weight: 300;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('fonts/Everett-Regular.eot');
    src: url('fonts/Everett-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Everett-Regular.woff2') format('woff2'),
        url('fonts/Everett-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
  font-family: var(--mainFont);
}

.gradients-container {
  height: 30%;
}

/* ADD TO MP.CSS later */

.smooth-t {
  transition: var(--smooth);
}

.column-reverse {
  flex-direction: column-reverse;
}

/* Cheatsheet Güeno */

img.icon {
  max-height: 40px !important;
  width: auto !important;
}

.gueno-br {
  border-radius: var(--border-radius);
}

/* Colors */

.main-font {
  font-family: var(--mainFont);
}


.bg-main-color {
  background-color: var(--mainColor);
}

.main-color {
  color: var(--mainColor);
}

.bg-main-gradient {
  background: var(--mainGradient);
}

.bg-secondary-gradient {
  background: var(--secondaryGradient)
}

.bg-main-dark-color {
  background-color: var(--mainDarkColor);
}

.main-dark-color {
 color: var(--mainDarkColor);
}

.bg-black-g {
  background-color: var(--background);
}


.grey {
  color: var(--grey)
}
.bg-grey {
  background-color: var(--grey)
}

/* Font Sizes */

.f0 {
  font-size: 6.5vw;
  letter-spacing: -2px;
  line-height: 90%;
}

/* Buttons */

.main-cta {
  padding: 10px 35px;
  border-radius: 100px;
  display: inline-flex;
  transition: var(--smooth)
}

.main-cta > * {
  transition: var(--smooth)
}

header {
  z-index: 99;
  transition: all 0.3s ease;;
}

header.scrolled {
  padding:10px 65px;
  backdrop-filter: blur(4.5px);
}



.header-nav li a {
  color: var(--secondaryColor)
}

.header-nav li:hover a {
  color: var(--mainColor)
}

.header-nav a::after {
  background: var(--mainColor) !important
}

.header-nav li.main-cta { 
  padding-bottom: 10px !important;
}

.header-nav li.main-cta a {
  color: #fff;
  padding-bottom: 0;
}

.header-nav li.main-cta a:after {
  content: unset;
}

.header-nav li.main-cta:hover a {
  color: var(--mainGradient)
}

.main-cta.has-gradient {
  background: linear-gradient(91.51deg, #85E38E -5.56%, #60BCC9 103.73%);
  color: #fff !important;
}

.main-cta.has-gradient > *, .main-cta.bg-main-color > * {
  color: #fff;
}

.main-cta.bg-main-color > *, .main-cta.bg-main-color {
  color: #000 !important;
}

header .main-cta {
  background: var(--mainColor);
}

header .main-cta:hover {
  /* background: var(--mainGradient) !important; */
}

@media (min-width: 560px) {
  /* Animations */

  .main-cta.bg-main-color:hover {
    background: var(--mainGradient) !important;
    color: var(--mainColor) !important;
  }
  
  .main-cta.bg-main-color:hover > *  {
    color: var(--mainColor) !important;
  }

  .main-cta:hover {
    padding: 10px 43px;
  }
  
  .main-cta.has-gradient:hover {
    background: linear-gradient(91.22deg, #85E38E 20.83%, #22A3BF 114.86%);
  }
  
  .main-cta.has-gradient:hover > *{
    color: #1E3256
  }

}

.main-cta > * {
  margin: auto;
}


.lang-switcher a:not(.active) {
  opacity: 0.5;
}

.lang-switcher a:hover {
  opacity: 1;
}


/* Generals */



.footer-inner .nav ul, .footer-inner ul.nav  {
  list-style-type: none;
}


.footer-inner .nav ul li, .footer-inner  ul.nav li {
  padding: 10px 5px 0px;
  display: inline-flex;
  margin-left: 10px;
}

.footer-inner .nav ul li a, .footer-inner  ul.nav li a {
  font-size: 16px;
  display: inline-flex;
  margin: auto;
  text-decoration: none;
  color: var(--secondaryColor);
  transition: var(--smooth);
  padding: 10px 17px;
  background: var(--background);
  border-radius: 8px;
}


.footer-inner .nav ul li a:hover, .footer-inner  ul.nav li a:hover {
  color: var(--mainColor);
}


.footer-social li {
  padding: 10px 0px;
  display: flex;
  height: 100%;
  width: 100%;
}

.footer-social li a {
  margin: auto;
  text-decoration: none;
  color: var(--secondaryColor);
}


/* HOME Desktop */

.gueno-chart {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0px;;
}

/* .map-content img {
  mix-blend-mode: multiply;
} */

.map-texture-1 {
  left: -3%;
  top: -20%;
  z-index: -1;
  transform: scale(0.8)
}


.map-texture-2 {
  right: -3%;
  bottom: -20%;
  z-index: -1;
 
  transform: scale(-0.8, -0.8) rotate(180deg);
  -moz-transform: scale(-0.8, -0.8) rotate(180deg);
  -o-transform: scale(-0.8, -0.8) rotate(180deg);
  -webkit-transform: scale(-0.8, -0.8) rotate(180deg);
}

.cards-container {
  margin-bottom: -250px;
}

.card {
  perspective: 900px;
  transition: var(--smooth);
  background-color: transparent;
}

.card:nth-child(2) .card-inner-bg{
  background-color: #94DA9B;
}

.card:nth-child(3) .card-inner-bg {
  background-color: #B4E5B9;
}


.card-inner-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) translateZ(-5px);
    box-shadow: 0 -15px 32px rgb(0 0 0 / 25%);
    transition: .3s ease;
    padding-bottom: 100px;
    box-shadow: 0 -15px 32px rgb(0 0 0 / 25%);
}

.card-content {
  position: relative;
  z-index: 5;
  transform: rotateX(-10deg) translateZ(-5px);
  transition: .4s ease;
  padding-bottom: 150px;
}

.card-content p, .card-content a {
  opacity: 0;
  transition: var(--smooth)
}

.card:not(:first-child) {
  margin-top: -250px;
}

.card:hover {
  perspective: 2000px;
  transform: translateY(-180px) rotateX(0);
}

.card:hover .card-content p, .card:hover .card-content a {
  opacity: 1;
  transition-delay: .2s !important;
  color: #fff !important
}

.card:hover .card-content h1 {
  color:var(--mainColor);
  /* transition: var(--smooth);
  transition-delay: .3s !important; */
}

.card:hover .card-inner-bg {
  background-color: var(--mainDarkColor) !important;
}


.mp-item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* filter: blur(12px);
  -webkit-filter: blur(12px); */
  backdrop-filter: blur(8px); 
  border-radius: 8px;
  border-left: 5px solid var(--mainColor);
  /* flex: 1 1 0px; */
  width: 22%;
  background-color: #fff;
}

.mp-item:hover {
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.35);
  transform: scale(1.02)
}



.mp-items-bg > *{
  /* transform: translateX(50%); */
  width: 60%;
  margin: auto;
}


.mp-banner-cta .absolute-cover {
  opacity: 0;
  transform: scale(0.98);
}


.mp-banner-cta:hover {
  background: var(--mainGradient);
}

.mp-banner-cta:hover div.main-cta {
  padding: 10px 43px;
}


.mp-banner-cta:hover .absolute-cover {
  opacity: 1;
  transform: scale(1);
}


.mp-banner-cta * {
  transition: var(--smooth);
}

.mp-banner-cta:hover * {
  color: var(--mainDarkColor)
}


.mp-banner-cta:hover .bg-main-gradient {
  opacity: 1;
}

/* Set animations for home desktop */

@media (min-width: 600px) {
  .home-starter > * {
    opacity: 0;
  }

  .will-animate {
    opacity: 0;
    transform: translateY(50px);
    transition: var(--smooth)
  }

  .will-animate.in-view {
    opacity: 1;
    transform: translateY(0px);
  }
}

.ti-cursor {
  /* color: #fff; */
  font-weight: 300 !important;
}




/* Reusable Blocks */

.logos-container ul:first-child {
  margin-bottom: 10px;
}

.logos-container img {
  width: 100px !important;
  height: auto !important;
  margin: auto;
}


.list-item-icon img {
  max-width: 30px !important;
  height: auto !important;
  min-width: 30px;
}

.list-item-icon {
  height: 45px;
}

.animated-images-container div:not(:first-child){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animated-images-container div {
  transition: all 0.5s ease;
  opacity: 0;
}


.color-toggle svg {
  width: auto;
  height: 30px;
}

#dark-mode-toggle svg {
  height: 25px;
}


.logos-container ul li {
  margin:15px  auto;
}




@media (min-width: 1440px) {
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .container-left {
    padding-left: 10vw;
  }

  .container-right {
    padding-right: 10vw;
  }

  .container > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}


@media (max-width: 1440px) {
  .img-container.container-left {
    padding-left: 120px;
  }

  .img-container.container-right {
    padding-right: 120px;
  }
}

@media (max-width: 1260px) {
  .container {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .container-left {
    padding-left: 4vw;
  }

  .container-right {
    padding-right: 4vw;
  }
}


@media (max-width: 1020px) {
  .individual-item {
    width: 25%;
    padding-right: 0px;
  }

  .map-content h2 {
   margin-bottom: 0px !important;
   width: 70%;
  }

  .mp-item {
    width: 30%;;
  }
}

@media (max-width: 820px) {
  .map-content h2 {
    margin-bottom: 30px !important;
  }

  .map-texture-2 {
    right: -20%;
    opacity: .3;
    bottom: -50%;
    transform: scale(0.6);
  }

  .map-texture-1 {
    left: -17%;
    top: -68%;
   
    transform: scale(0.6);
    opacity: .3;
}

.bg-color-fs {
  height: 85% !important;
}

}


/* Start Mobile */


@media (max-width: 768px) {

  .desktop, .map-texture-1, .map-texture-2 {
    display: none;
  }

.map-content {
  flex-direction: column-reverse;
  display: flex;
}


.map-content >div:first-child {
  position: initial;
  transform: scale(0.85) translateY(-80%) !important;
  margin-bottom: -100px;
}

.map-content img {
  max-width: 100% !important;
}

.card-content >div:first-child {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.card-content >div:first-child h2{
  margin-bottom: 10px;
}

.card:not(:first-child) {
  margin-top: -380px;
}

.mp-item {
  margin-bottom: 30px;
}

.mp-items-bg {
  top: -13%;
}

.mp-items-bg > * {
  width: 100%;
}

.mp-text-image > div:first-child {
  padding: 20px;
}

.mp-data-numbers > div {
  margin-bottom: 35px
}

.mp-data-numbers > div h1{
  font-size: 75px
}

/* Footer Mobile */

.footer-inner > div:not(:last-child), .footer-inner > ul:not(:last-child) {
  border-right: 0px;;
}


}

@media (max-width: 560px) {
  .container {
    padding-left: 4vw;
    padding-right: 4vw;
}

header.scrolled {
  padding: 5px 4vw;
}

.header-social svg {
  width: 30px;
}

.footer-location {
  text-align: center
}

.footer-inner > ul {
  justify-content: center;
  margin: 25px 0px;
}

.footer-inner > div:last-child, .page-aob {
  align-items: center;
}
/* Header Nav */

.menu-bg {
opacity: 0;
transition: all 0.3s ease;
background-color: #000;
z-index: 98;
pointer-events: none;
position: fixed;
top: 75.4px;
height: calc(100vh - 75.4px);
}

header.menu-open .menu-bg {
opacity: .7;
pointer-events: all;

}

header nav {
  position: fixed;
  top: 75.4px;
  left: 0;
  width: 100%;
  /* height: 40vh; */
  background: var(--secondaryGradient);
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
  z-index: 99;
  flex-direction: column;
}

.color-toggle {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  padding: 15px;
  margin-top: 20px;
}

header nav.open {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
  transition: all 0.4s 0.3s ease;

}

.menu-trigger svg, .color-toggle svg {
  width: 30px;
  height: auto !important;
}

header nav ul {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 45px 0px;
  margin: auto !important;
  width: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;;
}

header nav.open ul {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.6s 0.5s ease;;

}

.header-nav li:last-child  {
  background-color: #fff;
  display: block;
  margin-left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.header-nav li:not(:last-child) a {
  color: #000;
  font-size: 26px;
  margin-bottom: 20px;
}


/* Reusable Blocks Mobile */

.logos-container ul {
  flex-wrap: wrap;
  justify-content: center;
}

.logos-container ul li {
  width: 50%;
}


.logos-container img {
  width: 120px !important;
}
.mp-text-image {
  padding: 4vw;
}

.mp-text-image.column-reverse-mobile > div:last-child {
  margin-bottom: 30px;
}

.mp-text-image > div:first-child {
  padding: 0px;
}

.mp-text-image .list-item-icon {
  width: 10%;
}

.mp-text-image .list-item-icon img{
  width: 30px !important;
  max-width: 30px;
}

.mp-text-image .main-cta {
  width: 100%;
}

.map-content div.flex.justify-end.items-center.absolute-center.z-4 {
  bottom: 2px !important;
}

.gradients-container {
  bottom: -2px;
}

.map-content h2 {
  margin-bottom: 0px !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.individual-item {
  flex-direction: row;
  align-items: center;
}

.individual-item > div:first-child {
width: 10%;
}

.individual-item > div:last-child {
  width: 90%;
  padding-right: 0;
  margin-left: 1.7rem;
}

}
